<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945003675460-0h7atie2kol7t57ugvkrfu64k37f4m7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945003675460-0h7atie2kol7t57ugvkrfu64k37f4m7c</string>
	<key>API_KEY</key>
	<string>AIzaSyDFJhj_td7HSdn3JxjqmpcagbqJdnIF3xM</string>
	<key>GCM_SENDER_ID</key>
	<string>945003675460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.pavekovt.facebook</string>
	<key>PROJECT_ID</key>
	<string>facebook-84452</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-84452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945003675460:ios:7ea3fbe7f2177099c5e111</string>
	<key>DATABASE_URL</key>
	<string>https://facebook-84452.firebaseio.com</string>
</dict>
</plist>